.status-pill-container {
	width: 3.3rem;
	height: 1.5rem;
	border-radius: 5px;
	animation: placeholderShimmer 3s infinite;
}

@keyframes placeholderShimmer {
  0% {
    opacity: 0.5;
  }
  
  50% {
    opacity: 1; 
  }

  100% {
    opacity: 0.5; 
  }
}

